body {
    margin: 0;
    padding: 0;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pencil {
    width: 400px;
    background-color: #ffc334;
    border-top: 10px solid #ffc334;
    border-bottom: 10px solid #ffc334;
}

.pencil-body {
    width: 400px;
    background-color: #ffc334;
    border-top: 20px solid #ffc334;
    border-bottom: 20px solid #ffc334;
}

.wood-collar {
    width: 400px;
    border-style: solid;
    border-color: transparent transparent transparent #e29663;
    border-width: 20px 40px 20px;
    transform: translate(400px, -40px);
}

.lead {
    width: 400px;
    border-style: solid;
    border-color: transparent transparent transparent #262626;
    border-width: 10px 20px 10px;
    transform: translate(420px, -70px);
}

.ferrule {
    width: 30px;
    background: #ccc;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    transform: translate(-10px, -100px);
}

.eraser {
    width: 30px;
    background: #d76f6e;
    border-top: 20px solid #d76f6e;
    border-bottom: 20px solid #d76f6e;
    transform: translate(-30px, -140px);
}