.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
}

.nose {
    border-style: solid;
    border-color: transparent transparent #0201fd transparent;
    border-top: 0rem;
    border-width: 3rem 2rem 3rem;
}

.mid {
    display: flex;
    flex-direction: row;
}

.rocket-body {
    padding-top: 1rem;
    border: 1px solid black;
}

.rocket-window {
    background-color: #fffc06;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-left: 30%;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.rocket-body {
    background-color: #fe0201;
    height: 15rem;
    width: 4rem;
}

.left-fin {
    border-style: solid;
    border-color: transparent transparent #0201fd transparent;
    border-top: 0rem;
    border-right: 0rem;
    border-width: 3rem 2rem 3rem;
}

.right-fin {
    border-style: solid;
    border-color: transparent transparent #0201fd transparent;
    border-top: 0rem;
    border-left: 0rem;
    border-width: 3rem 2rem 3rem;
}

.impulse {
    display: flex;
    flex-direction: row;
}

.fire {
    border-style: solid;
    border-color: #fcfc00 transparent transparent transparent;
    border-width: 2.5rem 1.25rem 2.5rem;
    border-bottom: 0rem;
    transform: translate(0rem, -0.1rem);
}